@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-MediumItalic.woff") format("woff"), url("../fonts/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-BlackItalic.woff") format("woff"), url("../fonts/TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Italic.woff") format("woff"), url("../fonts/TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'TT Norms', Arial, Helvetica, sans-serif;
}

.navbar {
  margin: 50px 0;
}

@media (max-width: 992px) {
  .navbar .navbar-brand-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .navbar .navbar-brand-container img {
    width: 77px;
  }
}

.navbar .navbar-brand-container .navbar-brand-second {
  font-size: 38px;
  color: #323264;
  text-decoration: none;
}

.navbar .navbar-brand-container .navbar-brand-second::before, .navbar .navbar-brand-container .navbar-brand-second::after {
  content: "";
  background-image: url(../img/logo-slash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .navbar .navbar-brand-container .navbar-brand-second::before, .navbar .navbar-brand-container .navbar-brand-second::after {
    width: 11px;
    height: 24px;
  }
}

.navbar .navbar-brand-container .navbar-brand-second::after {
  background-image: url(../img/logo-icon.png);
  width: 41px;
}

@media (max-width: 992px) {
  .navbar .navbar-brand-container .navbar-brand-second::after {
    width: 21px;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-brand-container .navbar-brand-second {
    font-size: 19px;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-toggler {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border: 0;
    padding: 0;
  }
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar .navbar-line {
  width: calc(100% - 200px);
  text-align: right;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar-line-list li {
  margin-left: 10px;
}

.navbar .navbar-line-list li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 992px) {
  .navbar .navbar-line-adress, .navbar .navbar-line-fb {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-line li.navbar-line-tel > a {
    color: #B3B3BA;
    font-weight: 700;
  }
}

.navbar .navbar-line-lang, .navbar .navbar-line-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-line-lang li {
  font-size: 12px;
  font-weight: 700;
  padding: 7px;
  border-radius: 8px;
  padding: 3px 7px;
}

.navbar .navbar-line-lang li.active {
  background-color: #F0145A;
}

@media (max-width: 992px) {
  .navbar .navbar-line {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 20px;
  }
}

.navbar .navbar-collapse {
  -ms-flex-preferred-size: initial;
      flex-basis: initial;
  width: calc(100% - 200px);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-left: auto;
  margin-top: -43px;
}

@media (max-width: 992px) {
  .navbar .navbar-collapse {
    width: 100%;
    margin: 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    background-image: url(../img/intro-bg.jpg);
  }
}

@media (max-width: 992px) {
  .navbar {
    margin: 20px 0;
  }
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.navbar-home {
  position: absolute;
  width: 100%;
}

.navbar-second .navbar-nav .nav-link {
  color: #24A3FF;
}

.navbar-second .navbar-nav .nav-link.active {
  color: #F0145A;
}

.navbar-second .navbar-line {
  color: #B3B3BA;
  width: calc(100% - 410px);
}

.navbar-second .navbar-line li a {
  color: #B3B3BA;
}

@media (max-width: 992px) {
  .navbar-second .navbar-line {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .navbar-second .navbar-collapse {
    background-image: none;
  }
}

.navbar-second .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2850, 50, 100, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.intro-sect {
  background-color: #323264;
  background-image: url(../img/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}

.section-subheading {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.section-subheading-grey-arrow::after, .section-subheading-blue-arrow::after {
  content: "";
  background-image: url(../img/grey-link-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-bottom: 3px;
  width: 12px;
  height: 12px;
}

.section-subheading-blue-arrow {
  color: #24A3FF;
}

.section-subheading-blue-arrow::after {
  content: "";
  background-image: url(../img/blue-link-arrow.svg);
}

.section-heading {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  background-color: #F0145A;
  background-image: linear-gradient(45deg, #F0145A, #EF8080);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 32px;
  }
}

.service-item {
  margin: 60px 0 30px;
}

.service-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .service-item-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
}

.service-item-icon {
  max-width: 92px;
}

@media (max-width: 768px) {
  .service-item-icon {
    margin-right: 10px;
    max-width: 64px;
  }
}

.service-item-heading {
  color: #24A3FF;
  font-size: 24px;
  line-height: 1.2;
  margin: 20px 0 15px;
}

@media (max-width: 768px) {
  .service-item-heading {
    margin: 0;
    font-size: 18px;
  }
}

.service-item-text {
  color: white;
  font-size: 18px;
}

@media (max-width: 768px) {
  .service-item-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .service-item {
    margin: 20px 0;
  }
}

.team-slider-sect {
  margin: 40px 0 80px;
}

@media (max-width: 992px) {
  .team-slider-sect .team-slider-img {
    display: none;
  }
}

.team-slider-sect .team-slider-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5FA;
  border-radius: 12px;
}

.team-slider-sect .team-slider-row .team-slider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-slider-sect .team-slider-row .team-slider-info-img {
  display: none;
}

@media (max-width: 992px) {
  .team-slider-sect .team-slider-row .team-slider-info-img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
  }
  .team-slider-sect .team-slider-row .team-slider-info-img .team-slider-img {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.team-slider-sect .team-slider-row .team-slider-info .team-slider-name,
.team-slider-sect .team-slider-row .team-slider-info .team-slider-role {
  color: #B3B3BA;
  margin: 0;
}

.team-slider-sect .team-slider-row .team-slider-info .team-slider-name {
  font-size: 18px;
  font-weight: 700;
}

.team-slider-sect .team-slider-row .team-slider-info .team-slider-role {
  font-size: 16px;
}

.team-slider-sect .team-slider-row .team-slider-text {
  padding: 40px;
}

.team-slider-sect .carousel-indicators {
  bottom: -60px;
}

.team-slider-sect .carousel-indicators [data-bs-target] {
  background-color: #24A3FF;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 7px;
  opacity: .2;
}

.team-slider-sect .carousel-indicators [data-bs-target].active {
  opacity: 1;
}

.clients-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  max-width: 1440px;
  margin: auto;
}

.clients-grid-logo {
  width: 100%;
}

@media (max-width: 1200px) {
  .clients-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .clients-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.logo-swiper {
  background: #F5F5FA;
  padding: 40px 0;
}

.logo-swiper .swiper-slide {
  background-color: white;
  text-align: center;
  padding: 25px;
}

.logo-swiper .swiper-slide img {
  max-width: 100%;
}

.logo-swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.team-sect .section-heading {
  margin: 80px 225px;
}

@media (max-width: 1400px) {
  .team-sect .section-heading {
    margin: 80px 138px;
  }
}

@media (max-width: 1200px) {
  .team-sect .section-heading {
    margin: 80px 79px;
  }
}

@media (max-width: 992px) {
  .team-sect .section-heading {
    font-size: 32px;
    line-height: 38px;
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .team-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
  .team-item .team-foto {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .team-item .team-item-info {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 20px;
  }
  .team-item .team-item-info .team-meamber-position {
    margin-top: 5px;
  }
  .team-item .team-item-info .team-btn {
    position: static;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.team-foto {
  border-radius: 12px;
  max-width: 100%;
}

.team-item-info {
  margin-top: 20px;
  position: relative;
}

.team-item-info .team-meamber-name {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
}

.team-item-info .team-meamber-position {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
  margin-bottom: 40px;
}

.team-item-info .team-btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1440px) {
  .team-item-info {
    width: 95%;
  }
}

.team-member-foto {
  padding-left: 110px;
}

@media (max-width: 768px) {
  .team-member-foto .team-foto {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .team-member-foto {
    padding-left: 0;
  }
}

.team-member-info .section-heading {
  margin-top: 20px;
}

.team-member-info .team-member-contacts {
  padding-left: 0;
  padding-bottom: 20px;
  margin-top: 10px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 40px;
}

.team-member-info .team-member-contacts li {
  display: inline-block;
  list-style: none;
}

@media (max-width: 768px) {
  .team-member-info .team-member-contacts li {
    display: block;
  }
}

.team-member-info .team-member-contacts li a {
  text-decoration: none;
  color: #24A3FF;
}

.team-member-info .team-member-contacts .team-meamber-position {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

@media (max-width: 768px) {
  .team-member-info .team-member-contacts .team-meamber-position {
    margin-top: 15px;
  }
}

.team-member-info .team-member-contacts .team-meamber-mail {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left: 25px;
  position: relative;
}

.team-member-info .team-member-contacts .team-meamber-mail::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  position: absolute;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .team-member-info .team-member-contacts .team-meamber-mail::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .team-member-info .team-member-contacts .team-meamber-mail {
    margin-left: 0;
    margin-top: 10px;
  }
}

.team-member-info .team-member-contacts .team-meamber-social {
  font-size: 16px;
  line-height: 19px;
  margin-left: 25px;
  position: relative;
}

.team-member-info .team-member-contacts .team-meamber-social::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  position: absolute;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .team-member-info .team-member-contacts .team-meamber-social::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .team-member-info .team-member-contacts .team-meamber-social {
    margin-left: 0;
    margin-top: 10px;
  }
}

.team-member-info .team-meamber-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.team-member-info .team-meamber-education {
  margin-top: 40px;
  margin-bottom: 40px;
}

.team-member-info .section-subheading {
  color: #323264;
  margin-bottom: 10px;
}

.team-member-info .team-member-experience {
  margin-bottom: 80px;
}

.contacts-info {
  margin-left: 110px;
  margin-right: 110px;
}

@media (max-width: 992px) {
  .contacts-info {
    margin: 0 auto;
  }
}

.contacts-info .contacts-adress {
  padding-bottom: 20px;
  border-bottom: 4px solid #E6E6F0;
}

.contacts-info .contacts-adress p {
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  margin: 0;
}

.contacts-info .contacts-connection {
  margin-top: 40px;
  border-bottom: 4px solid #E6E6F0;
}

.contacts-info .contacts-connection .contacts-tel a {
  text-decoration: none;
  font-size: 21px;
  line-height: 30px;
  color: #46466E;
}

.contacts-info .contacts-connection .contacts-mail {
  margin-top: 20px;
  margin-bottom: 40px;
}

.contacts-info .contacts-connection .contacts-mail a {
  text-decoration: none;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF;
}

.contacts-info .contacts-social {
  padding-left: 50px;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .contacts-info .contacts-social {
    margin-bottom: 40px;
  }
}

.contacts-info .contacts-social .contacts-social-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #24A3FF;
  position: relative;
}

.contacts-info .contacts-social .contacts-social-link::before {
  content: "";
  background-image: url(../img/team/blue-fb.svg);
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feedback {
  background-color: #F5F5FA;
  border-radius: 12px;
  margin-right: 110px;
  padding: 20px;
  margin-bottom: 80px;
}

.feedback .contacts-heading {
  font-size: 32px;
  line-height: 38px;
  background-color: #F0145A;
  background-image: linear-gradient(45deg, #F0145A, #EF8080);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.feedback .feedback-name {
  margin: 20px 0;
}

.feedback .feedback-name input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border-color: #F5F5FA;
  border-radius: 8px;
}

.feedback .feedback-name input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-name input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-name input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-name input::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-message textarea {
  width: 100%;
  height: 180px;
  padding: 10px;
  border-color: #F5F5FA;
  border-radius: 8px;
}

.feedback .feedback-message textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-message textarea:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-message textarea::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-message textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-heading {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin: 20px 20px 10px 20px;
}

.feedback .feedback-tel,
.feedback .feedback-mail {
  margin-bottom: 20px;
}

.feedback .feedback-tel input,
.feedback .feedback-mail input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border-color: #F5F5FA;
  border-radius: 8px;
}

.feedback .feedback-tel input::-webkit-input-placeholder,
.feedback .feedback-mail input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-tel input:-ms-input-placeholder,
.feedback .feedback-mail input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-tel input::-ms-input-placeholder,
.feedback .feedback-mail input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-tel input::placeholder,
.feedback .feedback-mail input::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.feedback .feedback-button .feedback-btn {
  display: block;
  width: 250px;
  height: 50px;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .feedback {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

#gmap_canvas {
  width: 100%;
  height: 600px;
}

footer {
  background-color: #F5F5FA;
  border-radius: 12px 0 0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-contacts {
  margin-bottom: 40px;
}

.footer-contacts li {
  display: inline-block;
}

@media (max-width: 992px) {
  .footer-contacts li {
    display: block;
    text-align: center;
  }
}

.footer-contacts .footer-location {
  padding-left: 0;
  padding-top: 30px;
}

.footer-contacts .footer-location .footer-adress {
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}

@media (max-width: 992px) {
  .footer-contacts .footer-location .footer-adress {
    margin-top: 20px;
  }
}

.footer-contacts .footer-location .footer-map {
  margin-left: 50px;
  position: relative;
}

@media (max-width: 992px) {
  .footer-contacts .footer-location .footer-map {
    margin-left: 0;
    margin-top: 10px;
  }
}

.footer-contacts .footer-location .footer-map .link-map {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}

.footer-contacts .footer-location .footer-map::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  position: absolute;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .footer-contacts .footer-location .footer-map::before {
    display: none;
  }
}

.footer-contacts .footer-contact {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-contacts .footer-fb {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .footer-contacts .footer-fb {
    margin-right: 0;
    margin: 20px auto;
  }
}

.footer-contacts .footer-tel {
  margin-right: 25px;
  position: relative;
}

@media (max-width: 992px) {
  .footer-contacts .footer-tel {
    margin-right: 0;
  }
}

.footer-contacts .footer-tel::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .footer-contacts .footer-tel::before {
    display: none;
  }
}

.footer-contacts .footer-tel .footer-tel-number {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
}

.footer-contacts .footer-mail {
  position: relative;
}

@media (max-width: 992px) {
  .footer-contacts .footer-mail {
    margin: 20px auto;
  }
}

.footer-contacts .footer-mail::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  position: absolute;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .footer-contacts .footer-mail::before {
    display: none;
  }
}

.footer-contacts .footer-mail .footer-mail-adress {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  text-decoration: none;
}

.footer-brand {
  margin-top: 30px;
}

@media (max-width: 992px) {
  .footer-brand {
    margin: 20px auto 120px;
    text-align: center;
  }
}

.footer-brand .footer-brand-text {
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}
