*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: orange;
  position: relative;
}

.traffic-lights {
  width: 250px;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.traffic-lights .circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #000;
  width: 150px;
  height: 150px;
}

.traffic-lights .color_red {
  background-color: darkgray;
  -webkit-animation-name: color_red;
          animation-name: color_red;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.traffic-lights .color_yellow {
  background-color: darkgray;
  -webkit-animation-name: color_yellow_first, color_yellow_second;
          animation-name: color_yellow_first, color_yellow_second;
  -webkit-animation-duration: 3s, 1.7s;
          animation-duration: 3s, 1.7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 11s, 18s;
          animation-delay: 11s, 18s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.traffic-lights .color_green {
  background-color: darkgray;
  -webkit-animation-name: color_green_first, color_green_second;
          animation-name: color_green_first, color_green_second;
  -webkit-animation-duration: 7s, 1.5s;
          animation-duration: 7s, 1.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s, 7s;
          animation-delay: 0s, 7s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1, 3;
          animation-iteration-count: 1, 3;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.pillar {
  width: 50px;
  height: 265px;
  background-color: black;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@-webkit-keyframes color_green_first {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: green;
  }
}

@keyframes color_green_first {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: green;
  }
}

@-webkit-keyframes color_green_second {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: green;
  }
}

@keyframes color_green_second {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: green;
  }
}

@-webkit-keyframes color_yellow_first {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes color_yellow_first {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: yellow;
  }
}

@-webkit-keyframes color_yellow_second {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes color_yellow_second {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: yellow;
  }
}

@-webkit-keyframes color_red {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: red;
  }
}

@keyframes color_red {
  0% {
    background-color: darkgray;
  }
  100% {
    background-color: red;
  }
}
