@import 'reset';
@import 'fonts';
:root {
    --margin_bottom: 30px;
    --general_padding: 20px;
    --color_background: mediumslateblue;
}

body {
    min-width: 100%;
    padding: 30px;
    background-color: darkmagenta;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.colum {
    background-color: var(--color_background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    border-width: 2px 2px 1px;
    border-style: solid;
    padding: var(--general_padding);
}

.container_sidebar {
    padding: var(--general_padding);
    width: 100%;
    height: 100px;
    border: 2px solid black;
}

.container {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        &_item {
            flex: calc(60% - 10px);
            margin-right: 10px;
        }
        &_sidebar {
            flex: calc(40% - 10px);
            margin-left: 10px;
            height: auto;
        }
    }
}

.container_item {
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        .colum {
            width: 50%;
        }
    }
}