@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.woff') format('woff'), url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.woff') format('woff'), url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-MediumItalic.woff') format('woff'), url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-BlackItalic.woff') format('woff'), url('../fonts/TTNorms-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Italic.woff') format('woff'), url('../fonts/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.woff') format('woff'), url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'TT Norms', Arial, Helvetica, sans-serif;
}

// Header
.navbar {
    margin: 50px 0;
    .navbar-brand-container {
        @media (max-width: 992px) {
            order: 2;
            img {
                width: 77px;
            }
        }
        .navbar-brand-second {
            font-size: 38px;
            color: #323264;
            text-decoration: none;
            &::before,
            &::after {
                content: "";
                background-image: url(../img/logo-slash.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 21px;
                height: 46px;
                display: inline-block;
                vertical-align: middle;
                @media (max-width: 992px) {
                    width: 11px;
                    height: 24px;
                }
            }
            &::after {
                background-image: url(../img/logo-icon.png);
                width: 41px;
                @media (max-width: 992px) {
                    width: 21px;
                }
            }
            @media (max-width: 992px) {
                font-size: 19px;
            }
        }
    }
    .navbar-toggler {
        @media (max-width: 992px) {
            order: 3;
            border: 0;
            padding: 0;
        }
        &-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
    .navbar-flex {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .navbar-line {
        width: calc(100% - 200px);
        text-align: right;
        color: white;
        display: flex;
        justify-content: flex-end;
        &-list {
            li {
                margin-left: 10px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        &-adress,
        &-fb {
            @media (max-width: 992px) {
                display: none;
            }
        }
        li.navbar-line-tel>a {
            @media (max-width: 992px) {
                color: #B3B3BA;
                font-weight: 700;
            }
        }
        &-lang,
        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        &-lang {
            li {
                font-size: 12px;
                font-weight: 700;
                padding: 7px;
                border-radius: 8px;
                padding: 3px 7px;
                &.active {
                    background-color: #F0145A;
                }
            }
        }
        @media (max-width: 992px) {
            width: 100%;
            justify-content: space-between;
            order: 1;
            margin: 0 0 20px;
        }
    }
    .navbar-collapse {
        flex-basis: initial;
        width: calc(100% - 200px);
        flex-grow: 0;
        margin-left: auto;
        margin-top: -43px;
        @media (max-width: 992px) {
            width: 100%;
            margin: 0;
            order: 4;
            background-image: url(../img/intro-bg.jpg);
        }
    }
    @media (max-width: 992px) {
        margin: 20px 0;
    }
    .navbar-nav {
        .nav-link {
            color: white;
            font-weight: 500;
            font-size: 18px;
        }
    }
}

.navbar-home {
    position: absolute;
    width: 100%;
}

.navbar-second {
    .navbar-nav {
        .nav-link {
            color: #24A3FF;
            &.active {
                color: #F0145A;
            }
        }
    }
    .navbar-line {
        color: #B3B3BA;
        width: calc(100% - 410px);
        li a {
            color: #B3B3BA;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    .navbar-collapse {
        @media (max-width: 992px) {
            background-image: none;
        }
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2850, 50, 100, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.intro-sect {
    background-color: #323264;
    background-image: url(../img/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}

.section-subheading {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    font-weight: 700;
    &-grey-arrow,
    &-blue-arrow {
        &::after {
            content: "";
            background-image: url(../img/grey-link-arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
            margin-bottom: 3px;
            width: 12px;
            height: 12px;
        }
    }
    &-blue-arrow {
        color: #24A3FF;
        &::after {
            content: "";
            background-image: url(../img/blue-link-arrow.svg);
        }
    }
}

.section-heading {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    background-color: #F0145A;
    background-image: linear-gradient(45deg, #F0145A, #EF8080);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.service-item {
    margin: 60px 0 30px;
    &-top {
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
        }
    }
    &-icon {
        max-width: 92px;
        @media (max-width: 768px) {
            margin-right: 10px;
            max-width: 64px;
        }
    }
    &-heading {
        color: #24A3FF;
        font-size: 24px;
        line-height: 1.2;
        margin: 20px 0 15px;
        @media (max-width: 768px) {
            margin: 0;
            font-size: 18px;
        }
    }
    &-text {
        color: white;
        font-size: 18px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
    @media (max-width: 768px) {
        margin: 20px 0;
    }
}

// Team-slider
.team-slider-sect {
    margin: 40px 0 80px;
    .team-slider-img {
        @media (max-width: 992px) {
            display: none;
        }
    }
    .team-slider-row {
        display: flex;
        background-color: #F5F5FA;
        border-radius: 12px;
        .team-slider-info {
            display: flex;
            align-items: center;
            &-img {
                display: none;
                @media (max-width: 992px) {
                    display: block;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    .team-slider-img {
                        display: block;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .team-slider-name,
            .team-slider-role {
                color: #B3B3BA;
                margin: 0;
            }
            .team-slider-name {
                font-size: 18px;
                font-weight: 700;
            }
            .team-slider-role {
                font-size: 16px;
            }
        }
        .team-slider-text {
            padding: 40px;
        }
    }
    .carousel-indicators {
        bottom: -60px;
        [data-bs-target] {
            background-color: #24A3FF;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin: 0 7px;
            opacity: .2;
        }
    }
    .carousel-indicators [data-bs-target].active {
        opacity: 1;
    }
}

// Clients
.clients-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
    margin: auto;
    &-logo {
        width: 100%;
    }
    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Swiper
.logo-swiper {
    background: #F5F5FA;
    padding: 40px 0;
    .swiper-slide {
        background-color: white;
        text-align: center;
        padding: 25px;
        img {
            max-width: 100%;
        }
    }
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }
}

// Team
.team-sect {
    .section-heading {
        margin: 80px 225px;
        @media (max-width: 1400px) {
            margin: 80px 138px;
        }
        @media (max-width: 1200px) {
            margin: 80px 79px;
        }
        @media (max-width: 992px) {
            font-size: 32px;
            line-height: 38px;
            margin: 20px;
        }
    }
}

.team-item {
    @media (max-width: 768px) {
        display: flex;
        margin-bottom: 20px;
        .team-foto {
            max-width: 50%;
            flex-basis: 50%;
        }
        .team-item-info {
            max-width: 50%;
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 20px;
            .team-meamber-position {
                margin-top: 5px;
            }
            .team-btn {
                position: static;
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
}

.team-foto {
    border-radius: 12px;
    max-width: 100%;
}

.team-item-info {
    margin-top: 20px;
    position: relative;
    .team-meamber-name {
        font-size: 18px;
        line-height: 21px;
        color: #323264;
    }
    .team-meamber-position {
        font-size: 16px;
        line-height: 22px;
        color: #B3B3BA;
        margin-bottom: 40px;
    }
    .team-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }
    @media (max-width: 1440px) {
        width: 95%;
    }
}

// Team member
.team-member-foto {
    padding-left: 110px;
    .team-foto {
        @media (max-width: 768px) {
            display: block;
            margin: 0 auto;
        }
    }
    @media (max-width: 1200px) {
        padding-left: 0;
    }
}

.team-member-info {
    .section-heading {
        margin-top: 20px;
    }
    .team-member-contacts {
        padding-left: 0;
        padding-bottom: 20px;
        margin-top: 10px;
        border-bottom: 4px solid #E6E6F0;
        margin-bottom: 40px;
        li {
            display: inline-block;
            list-style: none;
            @media (max-width: 768px) {
                display: block;
            }
            a {
                text-decoration: none;
                color: #24A3FF;
            }
        }
        .team-meamber-position {
            font-size: 16px;
            line-height: 22px;
            color: #B3B3BA;
            @media (max-width: 768px) {
                margin-top: 15px;
            }
        }
        .team-meamber-mail {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            margin-left: 25px;
            position: relative;
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #B3B3BA;
                position: absolute;
                left: -16px;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 768px) {
                    display: none;
                }
            }
            @media (max-width: 768px) {
                margin-left: 0;
                margin-top: 10px;
            }
        }
        .team-meamber-social {
            font-size: 16px;
            line-height: 19px;
            margin-left: 25px;
            position: relative;
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #B3B3BA;
                position: absolute;
                left: -16px;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 768px) {
                    display: none;
                }
            }
            @media (max-width: 768px) {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    .team-meamber-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
    }
    .team-meamber-education {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .section-subheading {
        color: #323264;
        margin-bottom: 10px;
    }
    .team-member-experience {
        margin-bottom: 80px;
    }
}

.contacts-info {
    margin-left: 110px;
    margin-right: 110px;
    @media (max-width: 992px) {
        margin: 0 auto;
    }
    .contacts-adress {
        padding-bottom: 20px;
        border-bottom: 4px solid #E6E6F0;
        p {
            font-weight: normal;
            font-size: 21px;
            line-height: 30px;
            color: #323264;
            margin: 0;
        }
    }
    .contacts-connection {
        margin-top: 40px;
        border-bottom: 4px solid #E6E6F0;
        .contacts-tel {
            a {
                text-decoration: none;
                font-size: 21px;
                line-height: 30px;
                color: #46466E;
            }
        }
        .contacts-mail {
            margin-top: 20px;
            margin-bottom: 40px;
            a {
                text-decoration: none;
                font-weight: normal;
                font-size: 21px;
                line-height: 30px;
                color: #24A3FF;
            }
        }
    }
    .contacts-social {
        padding-left: 50px;
        margin-top: 20px;
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
        .contacts-social-link {
            text-decoration: none;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            color: #24A3FF;
            position: relative;
            &::before {
                content: "";
                background-image: url(../img/team/blue-fb.svg);
                width: 38px;
                height: 38px;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                left: -50px;
                transform: translateY(-50%);
            }
        }
    }
}

.feedback {
    background-color: #F5F5FA;
    border-radius: 12px;
    margin-right: 110px;
    padding: 20px;
    margin-bottom: 80px;
    .contacts-heading {
        font-size: 32px;
        line-height: 38px;
        background-color: #F0145A;
        background-image: linear-gradient(45deg, #F0145A, #EF8080);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    .feedback-name {
        margin: 20px 0;
        input {
            width: 100%;
            height: 45px;
            padding: 10px;
            border-color: #F5F5FA;
            border-radius: 8px;
            &::placeholder {
                font-size: 18px;
                line-height: 26px;
                color: #B3B3BA;
            }
        }
    }
    .feedback-message {
        textarea {
            width: 100%;
            height: 180px;
            padding: 10px;
            border-color: #F5F5FA;
            border-radius: 8px;
            &::placeholder {
                font-size: 18px;
                line-height: 26px;
                color: #B3B3BA;
            }
        }
    }
    .feedback-heading {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #B3B3BA;
        margin: 20px 20px 10px 20px;
    }
    .feedback-tel,
    .feedback-mail {
        margin-bottom: 20px;
        input {
            width: 100%;
            height: 45px;
            padding: 10px;
            border-color: #F5F5FA;
            border-radius: 8px;
            &::placeholder {
                font-size: 18px;
                line-height: 26px;
                color: #B3B3BA;
            }
        }
    }
    .feedback-button {
        .feedback-btn {
            display: block;
            width: 250px;
            height: 50px;
            background: #24A3FF;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            border-radius: 12px;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            margin: 0 auto;
        }
    }
    @media (max-width:992px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

#gmap_canvas {
    width: 100%;
    height: 600px;
}

// Footer
footer {
    background-color: #F5F5FA;
    border-radius: 12px 0 0;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.footer-contacts {
    margin-bottom: 40px;
    li {
        display: inline-block;
        @media (max-width: 992px) {
            display: block;
            text-align: center;
        }
    }
    .footer-location {
        padding-left: 0;
        padding-top: 30px;
        .footer-adress {
            font-size: 16px;
            line-height: 19px;
            color: #323264;
            @media (max-width: 992px) {
                margin-top: 20px;
            }
        }
        .footer-map {
            margin-left: 50px;
            position: relative;
            @media (max-width: 992px) {
                margin-left: 0;
                margin-top: 10px;
            }
            .link-map {
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #24A3FF;
                text-decoration: none;
            }
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #B3B3BA;
                position: absolute;
                left: -15px;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }
    .footer-contact {
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .footer-fb {
        margin-right: 20px;
        @media (max-width: 992px) {
            margin-right: 0;
            margin: 20px auto;
        }
    }
    .footer-tel {
        margin-right: 25px;
        position: relative;
        @media (max-width: 992px) {
            margin-right: 0;
        }
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #B3B3BA;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 992px) {
                display: none;
            }
        }
        .footer-tel-number {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #46466E;
        }
    }
    .footer-mail {
        position: relative;
        @media (max-width: 992px) {
            margin: 20px auto;
        }
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #B3B3BA;
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 992px) {
                display: none;
            }
        }
        .footer-mail-adress {
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #24A3FF;
            text-decoration: none;
        }
    }
}

.footer-brand {
    margin-top: 30px;
    @media (max-width: 992px) {
        margin: 20px auto 120px;
        text-align: center;
    }
    .footer-brand-text {
        font-size: 16px;
        line-height: 19px;
        color: #B3B3BA;
    }
}